<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BumenMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Bumen">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="bname" jdbcType="VARCHAR" property="bname" />
  </resultMap>
  <select id="queryAll" resultType="com.example.demo.entity.Bumen">
    select * from bumen
  </select>
  <sql id="Base_Column_List">
    bid, bname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bumen
    where bid = #{bid,jdbcType=INTEGER}
  </select>
    <select id="queryBumen" resultType="com.example.demo.entity.Bumen">
      SELECT * from bumen
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bumen
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Bumen">
    insert into bumen (bid, bname)
    values (#{bid,jdbcType=INTEGER}, #{bname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Bumen">
    insert into bumen
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="bname != null">
        bname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="bname != null">
        #{bname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Bumen">
    update bumen
    <set>
      <if test="bname != null">
        bname = #{bname,jdbcType=VARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Bumen">
    update bumen
    set bname = #{bname,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>