<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.RenyuanMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Renyuan">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="rname" jdbcType="VARCHAR" property="rname" />
    <result column="bid" jdbcType="INTEGER" property="bid" />
    <result column="gongzi" jdbcType="DOUBLE" property="gongzi" />
    <result column="gerenbaoxian" jdbcType="DOUBLE" property="gerenbaoxian" />
    <result column="gerenshui" jdbcType="DOUBLE" property="gerenshui" />
    <result column="jingling" jdbcType="DOUBLE" property="jingling" />
    <result column="yanglao" jdbcType="DOUBLE" property="yanglao" />
    <result column="yiliao" jdbcType="DOUBLE" property="yiliao" />
    <result column="shiye" jdbcType="DOUBLE" property="shiye" />
    <result column="shengyu" jdbcType="DOUBLE" property="shengyu" />
    <result column="gongshang" jdbcType="DOUBLE" property="gongshang" />
    <result column="time" jdbcType="DATE" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    rid, rname, bid, gongzi, gerenbaoxian, gerenshui, jingling, yanglao, yiliao, shiye,
    shengyu, gongshang,time
  </sql>
  <select id="queryAll" resultType="com.example.demo.entity.Renyuan">
    select * from  renyuan
  </select>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from renyuan
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.example.demo.entity.Renyuan">
    insert into renyuan (rid, rname, bid, 
      gongzi, gerenbaoxian, gerenshui, 
      jingling, yanglao, yiliao, 
      shiye, shengyu, gongshang,time
      )
    values (#{rid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{bid,jdbcType=INTEGER}, 
      #{gongzi,jdbcType=DOUBLE}, #{gerenbaoxian,jdbcType=DOUBLE}, #{gerenshui,jdbcType=DOUBLE}, 
      #{jingling,jdbcType=DOUBLE}, #{yanglao,jdbcType=DOUBLE}, #{yiliao,jdbcType=DOUBLE}, 
      #{shiye,jdbcType=DOUBLE}, #{shengyu,jdbcType=DOUBLE}, #{gongshang,jdbcType=DOUBLE}, #{time,jdbcType=DATE}
      )
  </insert>
</mapper>