<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.User">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="upass" jdbcType="VARCHAR" property="upass" />
    <result column="uleve" jdbcType="INTEGER" property="uleve" />
  </resultMap>
  <!--登录-->
  <select id="userLogin" resultType="int" parameterType="com.example.demo.entity.User">
    select count(1) from user where uname=#{uname} and upass=#{upass}
  </select>
</mapper>