<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.YusuanMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Yusuan">
    <id column="yuid" jdbcType="INTEGER" property="yuid" />
    <result column="xiangmuname" jdbcType="VARCHAR" property="xiangmuname" />
    <result column="renshu" jdbcType="INTEGER" property="renshu" />
    <result column="gongzi" jdbcType="DOUBLE" property="gongzi" />
    <result column="shichang" jdbcType="INTEGER" property="shichang" />
    <result column="shuifei" jdbcType="DOUBLE" property="shuifei" />
    <result column="fangzu" jdbcType="DOUBLE" property="fangzu" />
    <result column="waibao" jdbcType="DOUBLE" property="waibao" />
    <result column="zhaodaifei" jdbcType="DOUBLE" property="zhaodaifei" />
    <result column="tongxunfei" jdbcType="DOUBLE" property="tongxunfei" />
    <result column="riyongpin" jdbcType="DOUBLE" property="riyongpin" />
    <result column="youjifei" jdbcType="DOUBLE" property="youjifei" />
    <result column="zuchefei" jdbcType="DOUBLE" property="zuchefei" />
    <result column="shebeixiuli" jdbcType="DOUBLE" property="shebeixiuli" />
    <result column="gaosutongxing" jdbcType="DOUBLE" property="gaosutongxing" />
    <result column="chuchaijiayou" jdbcType="DOUBLE" property="chuchaijiayou" />
    <result column="shineigongjiao" jdbcType="DOUBLE" property="shineigongjiao" />
    <result column="xiuchefei" jdbcType="DOUBLE" property="xiuchefei" />
    <result column="rengong" jdbcType="DOUBLE" property="rengong" />
    <result column="shuidian" jdbcType="DOUBLE" property="shuidian" />
    <result column="chepiao" jdbcType="DOUBLE" property="chepiao" />
    <result column="qita" jdbcType="DOUBLE" property="qita" />
    <result column="yanglao" jdbcType="DOUBLE" property="yanglao" />
    <result column="yiliao" jdbcType="DOUBLE" property="yiliao" />
    <result column="gongshang" jdbcType="DOUBLE" property="gongshang" />
    <result column="shiye" jdbcType="DOUBLE" property="shiye" />
    <result column="shengyu" jdbcType="DOUBLE" property="shengyu" />
    <result column="jieguo" jdbcType="DOUBLE" property="jieguo" />
    <result column="bid" jdbcType="INTEGER" property="bid" />
  </resultMap>
  <select id="queryYuSuan" resultType="com.example.demo.entity.Yusuan">
    SELECT * FROM
    yusuan
    WHERE 1=1
    <if test="bid !=0 and bid != null">
      and bid=#{bid}
    </if>
    <if test="xiangmuname != null and xiangmuname!=''">
      and xiangmuname like concat('%',concat(#{xiangmuname}),'%')
    </if>
  </select>

  <insert id="insert" parameterType="com.example.demo.entity.Yusuan">
    insert into yusuan (yuid, xiangmuname, renshu, 
      gongzi, shichang, shuifei, 
      fangzu, waibao, zhaodaifei, 
      tongxunfei, riyongpin, youjifei, 
      zuchefei, shebeixiuli, gaosutongxing, 
      chuchaijiayou, shineigongjiao, xiuchefei, 
      rengong, shuidian, chepiao, 
      qita, yanglao, yiliao, 
      gongshang, shiye, shengyu, 
      jieguo, bid)
    values (#{yuid,jdbcType=INTEGER}, #{xiangmuname,jdbcType=VARCHAR}, #{renshu,jdbcType=INTEGER}, 
      #{gongzi,jdbcType=DOUBLE}, #{shichang,jdbcType=INTEGER}, #{shuifei,jdbcType=DOUBLE}, 
      #{fangzu,jdbcType=DOUBLE}, #{waibao,jdbcType=DOUBLE}, #{zhaodaifei,jdbcType=DOUBLE}, 
      #{tongxunfei,jdbcType=DOUBLE}, #{riyongpin,jdbcType=DOUBLE}, #{youjifei,jdbcType=DOUBLE}, 
      #{zuchefei,jdbcType=DOUBLE}, #{shebeixiuli,jdbcType=DOUBLE}, #{gaosutongxing,jdbcType=DOUBLE}, 
      #{chuchaijiayou,jdbcType=DOUBLE}, #{shineigongjiao,jdbcType=DOUBLE}, #{xiuchefei,jdbcType=DOUBLE}, 
      #{rengong,jdbcType=DOUBLE}, #{shuidian,jdbcType=DOUBLE}, #{chepiao,jdbcType=DOUBLE}, 
      #{qita,jdbcType=DOUBLE}, #{yanglao,jdbcType=DOUBLE}, #{yiliao,jdbcType=DOUBLE}, 
      #{gongshang,jdbcType=DOUBLE}, #{shiye,jdbcType=DOUBLE}, #{shengyu,jdbcType=DOUBLE}, 
      #{jieguo,jdbcType=DOUBLE}, #{bid,jdbcType=INTEGER})
  </insert>
</mapper>