<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.YuSuanMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.YuSuan">
    <id column="yuid" jdbcType="INTEGER" property="yuid" />
    <result column="xiangmuname" jdbcType="VARCHAR" property="xiangmuname" />
    <result column="renshu" jdbcType="INTEGER" property="renshu" />
    <result column="gongzi" jdbcType="DOUBLE" property="gongzi" />
    <result column="shichang" jdbcType="INTEGER" property="shichang" />
    <result column="shuifei" jdbcType="DOUBLE" property="shuifei" />
    <result column="fangzu" jdbcType="DOUBLE" property="fangzu" />
    <result column="waibao" jdbcType="DOUBLE" property="waibao" />
    <result column="zhaodaifei" jdbcType="DOUBLE" property="zhaodaifei" />
    <result column="tongxunfei" jdbcType="DOUBLE" property="tongxunfei" />
    <result column="riyongpin" jdbcType="DOUBLE" property="riyongpin" />
    <result column="youjifei" jdbcType="DOUBLE" property="youjifei" />
    <result column="zuchefei" jdbcType="DOUBLE" property="zuchefei" />
    <result column="shebeixiuli" jdbcType="DOUBLE" property="shebeixiuli" />
    <result column="gaosutongxing" jdbcType="DOUBLE" property="gaosutongxing" />
    <result column="chuchaijiayou" jdbcType="DOUBLE" property="chuchaijiayou" />
    <result column="shineigongjiao" jdbcType="DOUBLE" property="shineigongjiao" />
    <result column="xiuchefei" jdbcType="DOUBLE" property="xiuchefei" />
    <result column="rengong" jdbcType="DOUBLE" property="rengong" />
    <result column="shuidian" jdbcType="DOUBLE" property="shuidian" />
    <result column="chepiao" jdbcType="DOUBLE" property="chepiao" />
    <result column="qita" jdbcType="DOUBLE" property="qita" />
    <result column="yanglao" jdbcType="DOUBLE" property="yanglao" />
    <result column="yiliao" jdbcType="DOUBLE" property="yiliao" />
    <result column="gongshang" jdbcType="DOUBLE" property="gongshang" />
    <result column="shiye" jdbcType="DOUBLE" property="shiye" />
    <result column="shengyu" jdbcType="DOUBLE" property="shengyu" />
    <result column="yingli" jdbcType="DOUBLE" property="yingli" />
  </resultMap>
  <sql id="Base_Column_List">
    yuid, xiangmuname, renshu, gongzi, shichang, shuifei, fangzu, waibao, zhaodaifei, 
    tongxunfei, riyongpin, youjifei, zuchefei, shebeixiuli, gaosutongxing, chuchaijiayou, 
    shineigongjiao, xiuchefei, rengong, shuidian, chepiao, qita, yanglao, yiliao, gongshang, 
    shiye, shengyu,yingli
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yusuan
    where yuid = #{yuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yusuan
    where yuid = #{yuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.YuSuan">
    insert into yusuan (yuid, xiangmuname, renshu, 
      gongzi, shichang, shuifei, 
      fangzu, waibao, zhaodaifei, 
      tongxunfei, riyongpin, youjifei, 
      zuchefei, shebeixiuli, gaosutongxing, 
      chuchaijiayou, shineigongjiao, xiuchefei, 
      rengong, shuidian, chepiao, 
      qita, yanglao, yiliao, 
      gongshang, shiye, shengyu,yingli
      )
    values (#{yuid,jdbcType=INTEGER}, #{xiangmuname,jdbcType=VARCHAR}, #{renshu,jdbcType=INTEGER}, 
      #{gongzi,jdbcType=DOUBLE}, #{shichang,jdbcType=INTEGER}, #{shuifei,jdbcType=DOUBLE}, 
      #{fangzu,jdbcType=DOUBLE}, #{waibao,jdbcType=DOUBLE}, #{zhaodaifei,jdbcType=DOUBLE}, 
      #{tongxunfei,jdbcType=DOUBLE}, #{riyongpin,jdbcType=DOUBLE}, #{youjifei,jdbcType=DOUBLE}, 
      #{zuchefei,jdbcType=DOUBLE}, #{shebeixiuli,jdbcType=DOUBLE}, #{gaosutongxing,jdbcType=DOUBLE}, 
      #{chuchaijiayou,jdbcType=DOUBLE}, #{shineigongjiao,jdbcType=DOUBLE}, #{xiuchefei,jdbcType=DOUBLE}, 
      #{rengong,jdbcType=DOUBLE}, #{shuidian,jdbcType=DOUBLE}, #{chepiao,jdbcType=DOUBLE}, 
      #{qita,jdbcType=DOUBLE}, #{yanglao,jdbcType=DOUBLE}, #{yiliao,jdbcType=DOUBLE}, 
      #{gongshang,jdbcType=DOUBLE}, #{shiye,jdbcType=DOUBLE}, #{shengyu,jdbcType=DOUBLE},#{yingli,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.YuSuan">
    insert into yusuan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yuid != null">
        yuid,
      </if>
      <if test="xiangmuname != null">
        xiangmuname,
      </if>
      <if test="renshu != null">
        renshu,
      </if>
      <if test="gongzi != null">
        gongzi,
      </if>
      <if test="shichang != null">
        shichang,
      </if>
      <if test="shuifei != null">
        shuifei,
      </if>
      <if test="fangzu != null">
        fangzu,
      </if>
      <if test="waibao != null">
        waibao,
      </if>
      <if test="zhaodaifei != null">
        zhaodaifei,
      </if>
      <if test="tongxunfei != null">
        tongxunfei,
      </if>
      <if test="riyongpin != null">
        riyongpin,
      </if>
      <if test="youjifei != null">
        youjifei,
      </if>
      <if test="zuchefei != null">
        zuchefei,
      </if>
      <if test="shebeixiuli != null">
        shebeixiuli,
      </if>
      <if test="gaosutongxing != null">
        gaosutongxing,
      </if>
      <if test="chuchaijiayou != null">
        chuchaijiayou,
      </if>
      <if test="shineigongjiao != null">
        shineigongjiao,
      </if>
      <if test="xiuchefei != null">
        xiuchefei,
      </if>
      <if test="rengong != null">
        rengong,
      </if>
      <if test="shuidian != null">
        shuidian,
      </if>
      <if test="chepiao != null">
        chepiao,
      </if>
      <if test="qita != null">
        qita,
      </if>
      <if test="yanglao != null">
        yanglao,
      </if>
      <if test="yiliao != null">
        yiliao,
      </if>
      <if test="gongshang != null">
        gongshang,
      </if>
      <if test="shiye != null">
        shiye,
      </if>
      <if test="shengyu != null">
        shengyu,
      </if>
      <if test="yingli != null">
        yingli,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yuid != null">
        #{yuid,jdbcType=INTEGER},
      </if>
      <if test="xiangmuname != null">
        #{xiangmuname,jdbcType=VARCHAR},
      </if>
      <if test="renshu != null">
        #{renshu,jdbcType=INTEGER},
      </if>
      <if test="gongzi != null">
        #{gongzi,jdbcType=DOUBLE},
      </if>
      <if test="shichang != null">
        #{shichang,jdbcType=INTEGER},
      </if>
      <if test="shuifei != null">
        #{shuifei,jdbcType=DOUBLE},
      </if>
      <if test="fangzu != null">
        #{fangzu,jdbcType=DOUBLE},
      </if>
      <if test="waibao != null">
        #{waibao,jdbcType=DOUBLE},
      </if>
      <if test="zhaodaifei != null">
        #{zhaodaifei,jdbcType=DOUBLE},
      </if>
      <if test="tongxunfei != null">
        #{tongxunfei,jdbcType=DOUBLE},
      </if>
      <if test="riyongpin != null">
        #{riyongpin,jdbcType=DOUBLE},
      </if>
      <if test="youjifei != null">
        #{youjifei,jdbcType=DOUBLE},
      </if>
      <if test="zuchefei != null">
        #{zuchefei,jdbcType=DOUBLE},
      </if>
      <if test="shebeixiuli != null">
        #{shebeixiuli,jdbcType=DOUBLE},
      </if>
      <if test="gaosutongxing != null">
        #{gaosutongxing,jdbcType=DOUBLE},
      </if>
      <if test="chuchaijiayou != null">
        #{chuchaijiayou,jdbcType=DOUBLE},
      </if>
      <if test="shineigongjiao != null">
        #{shineigongjiao,jdbcType=DOUBLE},
      </if>
      <if test="xiuchefei != null">
        #{xiuchefei,jdbcType=DOUBLE},
      </if>
      <if test="rengong != null">
        #{rengong,jdbcType=DOUBLE},
      </if>
      <if test="shuidian != null">
        #{shuidian,jdbcType=DOUBLE},
      </if>
      <if test="chepiao != null">
        #{chepiao,jdbcType=DOUBLE},
      </if>
      <if test="qita != null">
        #{qita,jdbcType=DOUBLE},
      </if>
      <if test="yanglao != null">
        #{yanglao,jdbcType=DOUBLE},
      </if>
      <if test="yiliao != null">
        #{yiliao,jdbcType=DOUBLE},
      </if>
      <if test="gongshang != null">
        #{gongshang,jdbcType=DOUBLE},
      </if>
      <if test="shiye != null">
        #{shiye,jdbcType=DOUBLE},
      </if>
      <if test="shengyu != null">
        #{shengyu,jdbcType=DOUBLE},
      </if>
      <if test="yingli != null">
        #{yingli,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.YuSuan">
    update yusuan
    <set>
      <if test="xiangmuname != null">
        xiangmuname = #{xiangmuname,jdbcType=VARCHAR},
      </if>
      <if test="renshu != null">
        renshu = #{renshu,jdbcType=INTEGER},
      </if>
      <if test="gongzi != null">
        gongzi = #{gongzi,jdbcType=DOUBLE},
      </if>
      <if test="shichang != null">
        shichang = #{shichang,jdbcType=INTEGER},
      </if>
      <if test="shuifei != null">
        shuifei = #{shuifei,jdbcType=DOUBLE},
      </if>
      <if test="fangzu != null">
        fangzu = #{fangzu,jdbcType=DOUBLE},
      </if>
      <if test="waibao != null">
        waibao = #{waibao,jdbcType=DOUBLE},
      </if>
      <if test="zhaodaifei != null">
        zhaodaifei = #{zhaodaifei,jdbcType=DOUBLE},
      </if>
      <if test="tongxunfei != null">
        tongxunfei = #{tongxunfei,jdbcType=DOUBLE},
      </if>
      <if test="riyongpin != null">
        riyongpin = #{riyongpin,jdbcType=DOUBLE},
      </if>
      <if test="youjifei != null">
        youjifei = #{youjifei,jdbcType=DOUBLE},
      </if>
      <if test="zuchefei != null">
        zuchefei = #{zuchefei,jdbcType=DOUBLE},
      </if>
      <if test="shebeixiuli != null">
        shebeixiuli = #{shebeixiuli,jdbcType=DOUBLE},
      </if>
      <if test="gaosutongxing != null">
        gaosutongxing = #{gaosutongxing,jdbcType=DOUBLE},
      </if>
      <if test="chuchaijiayou != null">
        chuchaijiayou = #{chuchaijiayou,jdbcType=DOUBLE},
      </if>
      <if test="shineigongjiao != null">
        shineigongjiao = #{shineigongjiao,jdbcType=DOUBLE},
      </if>
      <if test="xiuchefei != null">
        xiuchefei = #{xiuchefei,jdbcType=DOUBLE},
      </if>
      <if test="rengong != null">
        rengong = #{rengong,jdbcType=DOUBLE},
      </if>
      <if test="shuidian != null">
        shuidian = #{shuidian,jdbcType=DOUBLE},
      </if>
      <if test="chepiao != null">
        chepiao = #{chepiao,jdbcType=DOUBLE},
      </if>
      <if test="qita != null">
        qita = #{qita,jdbcType=DOUBLE},
      </if>
      <if test="yanglao != null">
        yanglao = #{yanglao,jdbcType=DOUBLE},
      </if>
      <if test="yiliao != null">
        yiliao = #{yiliao,jdbcType=DOUBLE},
      </if>
      <if test="gongshang != null">
        gongshang = #{gongshang,jdbcType=DOUBLE},
      </if>
      <if test="shiye != null">
        shiye = #{shiye,jdbcType=DOUBLE},
      </if>
      <if test="shengyu != null">
        shengyu = #{shengyu,jdbcType=DOUBLE},
      </if>
      <if test="yingli != null">
        yingli = #{shengyu,jdbcType=DOUBLE},
      </if>
    </set>
    where yuid = #{yuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.YuSuan">
    update yusuan
    set xiangmuname = #{xiangmuname,jdbcType=VARCHAR},
      renshu = #{renshu,jdbcType=INTEGER},
      gongzi = #{gongzi,jdbcType=DOUBLE},
      shichang = #{shichang,jdbcType=INTEGER},
      shuifei = #{shuifei,jdbcType=DOUBLE},
      fangzu = #{fangzu,jdbcType=DOUBLE},
      waibao = #{waibao,jdbcType=DOUBLE},
      zhaodaifei = #{zhaodaifei,jdbcType=DOUBLE},
      tongxunfei = #{tongxunfei,jdbcType=DOUBLE},
      riyongpin = #{riyongpin,jdbcType=DOUBLE},
      youjifei = #{youjifei,jdbcType=DOUBLE},
      zuchefei = #{zuchefei,jdbcType=DOUBLE},
      shebeixiuli = #{shebeixiuli,jdbcType=DOUBLE},
      gaosutongxing = #{gaosutongxing,jdbcType=DOUBLE},
      chuchaijiayou = #{chuchaijiayou,jdbcType=DOUBLE},
      shineigongjiao = #{shineigongjiao,jdbcType=DOUBLE},
      xiuchefei = #{xiuchefei,jdbcType=DOUBLE},
      rengong = #{rengong,jdbcType=DOUBLE},
      shuidian = #{shuidian,jdbcType=DOUBLE},
      chepiao = #{chepiao,jdbcType=DOUBLE},
      qita = #{qita,jdbcType=DOUBLE},
      yanglao = #{yanglao,jdbcType=DOUBLE},
      yiliao = #{yiliao,jdbcType=DOUBLE},
      gongshang = #{gongshang,jdbcType=DOUBLE},
      shiye = #{shiye,jdbcType=DOUBLE},
      shengyu = #{shengyu,jdbcType=DOUBLE}
      yingli=#{yingli,jdbcType=DOUBLE}
    where yuid = #{yuid,jdbcType=INTEGER}
  </update>
</mapper>